
<script type="text/javascript" src="./app.js"></script>

  <div class="row">
    <% @tweets.each do |tweet|%>
      <div class="col s8 offset-s2">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <p><%= tweet.text %></p>
          </div>
          <div class="card-action">
              <%= link_to '削除', "/tweets/#{tweet.id}", method: :delete %>
              <%= link_to '編集', "/tweets/#{tweet.id}/edit", method: :get %>
              <a href="">
                <span>投稿者</span><%= tweet.user.nickname %>
             </a>
          </div>
        </div>
      </div>
    <% end %>
</div>
<div class="pagination center">
  <%= paginate(@tweets)%>
</div>
<footer class="page-footer footer #607d8b blue-grey">
  <div class="footer-copyright">
    <div class="container center">
    © 2019 Copyright MiniApp
    </div>
  </div>
</footer>
